body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #90afc5;
    color: #2e2e2e;
}

header {
    background-color: #336b87;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #2a3132;
  padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

section {
    background-color: rgba(163, 207, 218, 0.473);
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
}


form {
    margin-top: 10px;
}
 
.campo {
    margin-bottom: 10px;
}
 
label {
    display: block;
    margin-bottom: 5px;
}
 
input, textarea {
    width: 80%;
    padding: 10px;
}
 
button {
    background-color: #f587657a;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}




footer {
    background-color: #763626;
    color: white;
    text-align: center;
    padding: 10px;
}


@media (max-width: 600px) {
    nav {
        flex-direction: column;
        
    }
 
    section {
        margin: 10px 0;
        padding: 12px;
    }
 
    main {
        padding: 12px;
    }
}

.oscuro {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

.oscuro header {
    background-color: #111;
}

.oscuro section {
    background-color: #2a2a2a;
    color: #f0f0f0;
}

.oscuro footer {
    background-color: #111;
}
